a {
    text-decoration: none;
}

<<<<<<< HEAD
a.navbar-brand.home {
    color:#fefefe;

    &:hover {
        color:goldenrod;
    }
=======
a.senator-cell {
    margin-bottom: 3vw;
    padding: 0 1vw;
>>>>>>> dcfff11d77d7a238d285bd8edade248cd3648347
}