// /* The Modal (background) */
// .modal {
//     display: none; /* Hidden by default */
//     position: fixed; /* Stay in place */
//     z-index: 1; /* Sit on top */
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     overflow: auto; /* Enable scroll if needed */
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }



// /* Modal Content/Box */
// .modal-content {
//     background-color: #fefefe;
//     margin: 0 auto; /* 15% from the top and centered */
//     border: 1px solid #888;
//     width: 100%; /* Could be more or less, depending on screen size */
// }
.profile-header {
    background: black;
    display: block;
    height: 40vh;

    h2 {
        color: white;
        font-size: 3em;
    }
    
    h3 {
        color: grey;
        font-size: 3em;
    }
}

    /* The Close Button */
span {
    float: right;
    
    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        display: inline-block;
        top: 0;
    
        a {
            color: #aaa;
    
            &:active {
                color:#aaa;
            }
            &:hover, &:focus {
                color:red;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.profile-pic{
    display: inline;

    img {
        display: inline;
        margin-top: 5vh;
    }
}

.heading {
    display: inline;
    position: relative;
    float: right;
    margin: 6vh 5vw;

    h2{
        color: white;
        font-size: 3em;
    }

    h3 {
        color: grey;
        font-size: 3em;
    }
}

.profile-menu {
    color: white;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;
        float: right;
        text-align: right;
        font-size: 1.75em;
        margin-top: -5px;

    }
    
    li {
        display: inline;
        padding: 20px;
    }
}

.profile-menu-item a {
    color: white;
     &:hover {
         color: grey;
     }
}
