<<<<<<< HEAD
=======
.header {
    background:black;
    height:45vh;
    display:block;
    padding-top:8vh;

    .container {
        display:flex;
        flex-direction:row;
    }
}

.picture {
    width: 50%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        padding: 0;
        margin: 0;
        width: 35%;
    }
}

.title {
    width: 50%;
    height: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

    h2 {
        font-size: 1.7vh;
        font-weight: lighter;
        margin-top: .5vh;
    }
}

.sub-nav {
    width: 100%;
    height: 10vh;
    background: black;

    a {
        color:white;
    }

    ul {
        float:right;

        li {
            list-style: none;
            display: inline;
            padding: 1.5vw 2vw;
            font-size: 3vh;
        }
    }
}

.contact-info {

    ul {
        margin: 0;
        background:grey;
        width: 20vw;
        float:left;

        li {
            margin: 1vh;
        }
    }
}

.content-area {
    float: right;
    margin: 0;
    width: 50vw;
    background: purple;
}

// $r: red;
// $d: blue;

// .profile-header {
//     background: black;
//     display: block;
//     height: 40vh;
//     margin-top: 7vh;

//     h2 {
//         color: white;
//         font-size: 3em;
//     }
    
//     h3 {
//         color: grey;
//         font-size: 3em;
//     }
// }

//     /* The Close Button */
// .close {
//     color: #aaa;
//     font-size: 28px;
//     font-weight: bold;
//     display: inline-block;
//     margin: 2vh 2vh;
//     float: right;

//     a {
//         color: #aaa;

//         &:active {
//             color:#aaa;
//         }
//         &:hover, &:focus {
//             color:red;
//             text-decoration: none;
//             cursor: pointer;
//         }
//     }
// }

// .profile-pic{
//     display: inline;

//     img {
//         display: inline;
//         margin-top: 5vh;

//     }
// }

// .d {
//     border: 2px solid $d;
// }

// .r {
//     border: 2px solid $r;
// }

// .heading {
//     display: inline;
//     position: relative;
//     float: right;
//     margin: 6vh 5vw;

//     h2{
//         color: white;
//         font-size: 3em;
//     }

//     h3 {
//         color: grey;
//         font-size: 3em;
//     }
// }

// .profile-menu {
//     color: white;

//     ul {
//         padding: 0;
//         margin: 0;
//         list-style: none;
//         display: inline;
//         float: right;
//         text-align: right;
//         font-size: 1.75em;
//         margin-top: -5px;

//     }
    
//     li {

//         display: inline;
//         padding: 20px;

//         &:hover {
//             background: #f4f8fd;
//         }
//     }
// }

// .profile-menu-item a {
//     color: white;
//      &:hover {
//          color: grey;
//      }
// }

// .profile-content {
//     margin-top: 2vh;
//     width: 100%;
//     display: flex;
    
//     .container {
//         display: flex;
//         justify-content: space-between;

//     }
// }

// .contact-info {
//     background: grey;
//     width: 25vw;
// }

// .content-area {
//     width: 48vw;

// }

// .votes {
//     background: grey;
//     margin-bottom: 10px;
//     padding: 20px;
//     font-size: 1.5em;
//     display: grid;
//     grid-template-columns: auto auto auto;
//     border: 1px solid black;
//     border-radius: 5px;
// }
>>>>>>> dcfff11d77d7a238d285bd8edade248cd3648347
