.bio-pic-outter {
    border: black;
}

.bio-pic {
    display: flex;
    justify-content: center;

    a {
        width:80%;
        
        img {  
                width: 100%;
            }
    }
    
}

h3 {
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    margin: 1vh 0 .5vh 0;
}

h2 {
    font-size: .9em;
    text-align: center;
    margin: 0;
}
.myBtn {
    height: 10vw;
    border-radius: 50%;
    overflow: hidden;
    
}

.name {
    margin: 0 auto;
    z-index: 1;
    padding: 1vh;

    a {
        color:black;
    
    &:visited {
        color: black;
    }

    &:hover {
        color: grey;
    }
}
}