//search field
#search {
    display:flex;
  }
  
  .searchTerm {

  }
  
  .searchTerm:focus{
    color: black;
    border: 1px solid lightblue;
    border-radius: 5px;
  }
  
  .searchButton {
    float: right;
    width: 10%;
    height: 4vh;
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
    border: none;
    background: rgb(167, 53, 53);
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #df7e7e, 0px 5px 0px 0px #6e0707, 0px 2px 3px #999;
    color: #d8f2ff;

    &:hover {
        background:#df7e7e;
        box-shadow: inset 0px 1px 0px #a73535, 0px 5px 0px 0px #6e0707, 0px 2px 3px #999;
        color:#135575;
    }
}
  
#search-results {
    display:none;


        li {
            display: block;
            padding: 1.5vh 0;;
        }
    }

.search-results {
    background-color: #bebebe;
    margin: 4vh 0px;
    width: 24vw;
    position: absolute;
}

.profile-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
}

.sub-menu{
    height:100%;
    width:100%;
    background: #bebebe;
    margin: 0;
    
    ul {
        list-style: none;

        li {
            font-size: 1.5vw;
            font-weight: 900;
            color: white;
            padding: 15px 0;
            text-decoration: none;
        }
    }
}
