.container-nav {
    width: 75%;
    margin: 0 auto;
}
.navbar {
    background: #253357;
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 0;
}

.homepage {
    font-weight: bold;
    float: left;
    clear:none;
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 2em;
    position: static;

    &:hover {
        color: gold;
    }
}

#search-results {
    background-color: black;

    li {
        display: block;
        padding: 10px;
    }
}

.search-clear {
    float: right;
    position: relative;
    right: 20px;
    top: 4px;

    &:hover {
        color: red;
        cursor: pointer;
    }
}