db.sqlite3
# ignore design files #
*.psd

# Miscellaneous files #
TODO
.vscode
.bash_profile
/project/api/api/artifacts/
/Archive/
/code/
/design/
.bash_profile
# /project/production
/project/production/node_modules
/project/production/endpoints/migrations/
*__pycache__
/project/production/api/artifacts/
/project/api/endpoints/migrations/
/project/frontend/node_modules/
/project/api/artifacts/
/project/.DS_Store/
project/artifacts/