db.sqlite3
# ignore design files #
*.psd

# Miscellaneous files #
TODO
.vscode
.bash_profile
/project/api/api/artifacts/
/Archive/
/code/
/design/
.bash_profile
/project/production
/project/api/api/endpoints/migrations/
