.navbar {
    background: #135575;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    box-shadow: 1px 0 3px;
}

.home {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    padding: 1vh 0;
    
    &:hover {
        color: #FFC400;
    }
}

.searchwrapper {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 30vw;
    border-radius: 24px;
    height: 3.5vh;
}

.placeholder-text {
    padding: 5px 4px 0 16px;
}

.search-results {
    
}

input[type=text] {
    border: 0;
    background: none;
}

input:focus{
    outline:none;
}

::placeholder {
    color: #007FFF;
}

.search-button {

}

.searchbox {
    display:flex
}

.button {
    color: #135575;
    margin: .8vh 0 0 1vw;
}