body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: red;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  padding: 0;
}

input [type=button] {
  border-width: 0;
  padding: 0;
  border: 0;
}

input [type=text] {
  border-width: 0;
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

.homepage {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
}

.homepage:hover {
  color: #ffc000;
}

body {
  background: #f4f8fd;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.mp-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  grid-gap: 2vw;
  margin: 0 auto;
}

.senator-cell {
  margin-top: 100px;
}

.container-nav {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #135575;
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 0 3px;
          box-shadow: 1px 0 3px;
}

.homepage {
  margin: 0;
}

.bio-pic-outter {
  border: black;
}

.bio-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio-pic a {
  width: 80%;
}

.bio-pic a img {
  width: 100%;
}

.bio-pic a:hover {
  opacity: .8s;
}

h3 {
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: .9em;
  text-align: center;
  margin: 1vh 0 .5vh 0;
}

.myBtn {
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  margin: 0 auto;
  z-index: 1;
  padding: 1vh;
}

.name a {
  color: black;
}

.name a:visited {
  color: black;
}

.name a:hover {
  color: grey;
}

.profile-header {
  background: black;
  display: block;
  height: 40vh;
  margin-top: 7vh;
}

.profile-header h2 {
  color: white;
  font-size: 3em;
}

.profile-header h3 {
  color: grey;
  font-size: 3em;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  margin: 2vh 2vh;
  float: right;
}

.close a {
  color: #aaa;
}

.close a:active {
  color: #aaa;
}

.close a:hover, .close a:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.profile-pic {
  display: inline;
}

.profile-pic img {
  display: inline;
  margin-top: 5vh;
}

.d {
  border: 2px solid blue;
}

.r {
  border: 2px solid red;
}

.heading {
  display: inline;
  position: relative;
  float: right;
  margin: 6vh 5vw;
}

.heading h2 {
  color: white;
  font-size: 3em;
}

.heading h3 {
  color: grey;
  font-size: 3em;
}

.profile-menu {
  color: white;
}

.profile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  float: right;
  text-align: right;
  font-size: 1.75em;
  margin-top: -5px;
}

.profile-menu li {
  display: inline;
  padding: 20px;
}

.profile-menu li:hover {
  background: #f4f8fd;
}

.profile-menu-item a {
  color: white;
}

.profile-menu-item a:hover {
  color: grey;
}

.profile-content {
  margin-top: 2vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info {
  background: grey;
  width: 25vw;
}

.content-area {
  width: 48vw;
}

.votes {
  background: grey;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 1.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  border: 1px solid black;
  border-radius: 5px;
}

#search {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchTerm {
  width: 85%;
  height: 2.75vh;
  padding: 5px;
  border-radius: 5px;
  color: #bebebe;
  border: 0;
}

.searchTerm:focus {
  color: black;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.searchButton {
  float: right;
  width: 10%;
  height: 4vh;
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
  border: none;
  background: #a73535;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #df7e7e, 0px 5px 0px 0px #6e0707, 0px 2px 3px #999;
          box-shadow: inset 0px 1px 0px #df7e7e, 0px 5px 0px 0px #6e0707, 0px 2px 3px #999;
  color: #d8f2ff;
}

.searchButton:hover {
  background: #df7e7e;
  -webkit-box-shadow: inset 0px 1px 0px #a73535, 0px 5px 0px 0px #6e0707, 0px 2px 3px #999;
          box-shadow: inset 0px 1px 0px #a73535, 0px 5px 0px 0px #6e0707, 0px 2px 3px #999;
  color: #135575;
}

#search-results {
  display: none;
}

#search-results li {
  display: block;
  padding: 1.5vh 0;
}

.search-results {
  background-color: #bebebe;
  margin: 4vh 0px;
  width: 24vw;
  position: absolute;
}

.profile-grid {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  width: 100%;
}

.sub-menu {
  height: 100%;
  width: 100%;
  background: #bebebe;
  margin: 0;
}

.sub-menu ul {
  list-style: none;
}

.sub-menu ul li {
  font-size: 1.5vw;
  font-weight: 900;
  color: white;
  padding: 15px 0;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */