body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
}

button {
	padding:0;
}

a {
	text-decoration: none;
}

input {
	padding: .5vh;
	width: 15vw;
	border:0;

	[type=button] {
		border-width: 0;
		padding:0;
		border:0;
	}

	[type=text] {
		border-width:0;
		padding: 0;
		border:0;
	}
}
div {
	display:inline;
}

ul {
	
	li {
		list-style: none;
	}
}

img {
	padding: 0;
	margin:0;
}

