body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body, html {
  font-family: 'Roboto', sans-serif; }

.homepage {
  font-weight: 900;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em; }
  .homepage:hover {
    color: gold; }

.container {
  width: 75%;
  margin: 0 auto; }

.mp-content {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 2vw;
  margin: 0 auto; }

.senator-cell {
  margin-top: 100px; }

.container-nav {
  width: 75%;
  margin: .5vh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navbar {
  background: #253357;
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0; }

.homepage {
  margin: 0;
  position: static; }

.bio-pic {
  display: flex;
  justify-content: center; }
  .bio-pic button img {
    margin-top: -50px;
    margin-left: -20px; }

.title {
  color: white;
  z-index: 2;
  margin: -6vh auto;
  text-align: center; }
  .title h2 {
    font-size: 1.5em;
    margin: 0; }

.myBtn {
  border: 3px solid #253357;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  padding: .5vw; }

.name {
  background: #253357;
  height: 4vh;
  margin: 0 auto;
  width: 75%;
  z-index: 1;
  border-radius: 5px;
  padding: 1vh;
  display: flex;
  justify-content: center; }
  .name h3 {
    font-size: 1em;
    color: white;
    text-align: center;
    margin: auto; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
  width: 100%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: inline-block; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

#search-results {
  background-color: black; }
  #search-results li {
    display: block;
    padding: 10px; }

.search-clear {
  float: right;
  position: relative;
  right: 20px;
  top: 4px; }
  .search-clear:hover {
    color: red;
    cursor: pointer; }

.profile-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%; }

.sub-menu {
  height: 100%;
  width: 100%;
  background: grey;
  margin: 0; }
  .sub-menu ul {
    list-style: none; }
    .sub-menu ul li {
      font-size: 1.5vw;
      font-weight: 900;
      color: white;
      padding: 15px 0;
      text-decoration: none; }

.search {
  width: 100%; }

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #253357;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: grey; }

.searchTerm:focus {
  color: black; }

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  background: lightblue;
  text-align: center;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px; }

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
