<!--Navbar-->
<div class="navbar">
        <div class="container-nav">
    
    <!--Navigation-->
            <nav class="main-nav">
                <a href="#" class="homepage">CITIZEN CAUCUS</a>
                        <div id="">
                            {% csrf_token %}
                            <p></p>
                            
                            <input type="text" id="search" name="search" placeholder="Search for members"/>
                            <ul id="search-results">

                            </ul>
                        </div>
            </nav>                    
        </div>
    </div>