<!--Navbar-->
<div class="navbar">
        <div class="container-nav">
    
    <!--Navigation-->
    <a href="#" class="homepage">CITIZEN CAUCUS</a>
    <form id="search" action="{% url 'search' %}" method="get" accept-charset="utf-8">
            {% csrf_token %}
                    <input class="searchTerm" id="searchbox" name="q" type="text" placeholder="Search">
                    <button class="searchButton" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                            <ul id="search-results">

                            </ul>               
        </div>
    </div>