<!--Navbar-->
<div class="navbar">
        <div class="container-nav">
    
    <!--Navigation-->
    <a href="#" class="homepage">CITIZEN CAUCUS</a>
            <nav class="main-nav">
                            {% csrf_token %}
                            <div class="wrap">
                                <div class="search">
                                   <input type="text" class="searchTerm" id="search" placeholder="What are you looking for?">
                                   <button type="submit" class="searchButton">
                                    <i class="fas fa-search"></i>
                                  </button>
                                </div>
                             </div>
                            <ul id="search-results">
                            </ul>
                        </div>
            </nav>                    
        </div>
    </div>