<!--Navbar-->
<div class="navbar">
    <div class="container-nav">

<!--Navigation-->
    <a href="#" class="homepage">CITIZEN CAUCUS</a>
        <nav class="main-nav">
            <ul class="#">
                <li class="byname">
                    <div id="child">
                            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
                            <button class="searchbutton" type="submit">
                                <i class="fa fa-search">Search</i>
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>                    
    </div>
</div>