<!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="container">
                <div class="profile-grid">   
                    <div class="sub-menu grid-item1">
                        <ul>
                            <li class="p_sub_menu"><a href="#">bio</a></li>
                            <li class="p_sub_menu">articles</li>
                            <li class="p_sub_menu">badges</li>
                            <li class="p_sub_menu">voting record</li>
                            <li class="p_sub_menu">voting scors</li>
                        </ul>
                    </div>
                <div class="blog grid-item2">
                    <div class="profile">
                    <div class="">
                        <h2>Terms:00</h2> <h2>Party:?</h2> <h2>State:{{ s.state }}</h2>
                    </div>
                    <div class="bio-pic">
                        <img src="{{ s.bio_pic.url }}">
                
                        <h1>{{ s.first_name }} {{ s.last_name }}</h1>
                    </div>
                    <div class="">
                        <h3>User Score: 100%</h3>
                        <h3>Organization Score: 100%</h3>
                        <h3>User Score: 100%</h3>
                    </div>
                    </div>
                    <div class="blog-content">

                    </div>
                </div>
            </div> 
            </div>
    </div>