.mp-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 15vh;
}

.senator-cell {
    margin-bottom: 10vh;
    padding: 0 1.5vw;
    display: flex;
    flex-flow: column wrap;
}