.container-nav {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background: #253357;
    width: 100vw;
    height: 7vh;
    position: fixed;
    top: 0;
    display: flex;
}

.homepage {
    margin: 0;
}