#search-results {
    background-color: black;

    li {
        display: block;
        padding: 10px;
    }
}

.search-clear {
    float: right;
    position: relative;
    right: 20px;
    top: 4px;

    &:hover {
        color: red;
        cursor: pointer;
    }
}